/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {

	
	
}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {

	
	
}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}

	
	
}


/************************************************************************************
oriation portrait
*************************************************************************************/
@media only screen and (orientation:portrait){
	div#wrapper,
	header,
	footer { width:100%; }
}

/************************************************************************************
oriation landscape
*************************************************************************************/
@media only screen and (orientation:landscape){
	div#wrapper,
	header,
	footer { width:100%; }
}