/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {

/*	div#sizes div.resolution { background-color:rgba(0, 0, 100, 0.2); }*/
	
	html,body,div#wrapper,div#header { width:1224px; }
	
}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {

/*	div#sizes div.resolution { background-color:rgba(0, 100, 0, 0.2); }*/
	
	
}

/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}

/*	div#sizes div.resolution { background-color:rgba(100, 0, 100, 0.2); }*/
	
	
}


/************************************************************************************
oriation portrait
*************************************************************************************/
@media only screen and (orientation:portrait){
	div#wrapper,
	header,
	footer { width:100%; }
}

/************************************************************************************
oriation landscape
*************************************************************************************/
@media only screen and (orientation:landscape){
	div#wrapper,
	header,
	footer { width:100%; }
}